body {
    font-family: Arial, sans-serif;
    background-color: #978585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.back{
    background-image: url(back_1.png);
    background-size: 1580px;
}    
.container {
    text-align: center;
}

.board {
    display: inline-block;
}

.row {
    display: flex;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #928f8fdc;
}

.status {
    margin-top: 20px;
}

.restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1111115e;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: #d3d8dd;
}
